* {
    margin: 0;
    padding: 0;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: blueviolet;
}

.logo img {
    width: 10%;
    border-radius: 50%;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
}

.menu ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: large;
}

.privacypolicy {
    background: #d9d5d5;
    padding:20px 5%;
}

.privacy {
    padding:50px;
    border:2px solid white;
    background: white;
}

.privacy ul li {
    letter-spacing: normal;
    text-align: justify;
    line-height: 1.5;
    font-size: large;
    margin: 20px;
}

.privacy ul {
    padding-left: 39px;
}

.privacy h1 {
    text-align: center;
}

.privacy h4 {
    margin:20px;
}

.privacy p {
    font-size: larger;
    letter-spacing: normal;
    text-align: justify;
    line-height: 1.5;
    margin:30px;

}

.info {
    padding: 20px;
    text-align: center;
    background-color: rgba(97, 96, 96, 0.151);
}

.info ul li {
    display: inline-block;
    margin: 0px 50px;
    line-height: 1.5;
} 

.last {
    padding: 20px;
    text-align: center;
    background-color: blueviolet;
}
.last ul li {
    display :inline-block;
    margin: 0px 50px;
    line-height: 1.5;
}

.last ul li a {
    color:white;
    text-decoration: none;
}

.help {
    padding: 20px;
    text-align: center;
    background-color: rgba(97, 96, 96, 0.151);
}

.help ul li {
    display:inline-block;
    margin:0px 50px;
    line-height: 1.5;
}